
@{
    Layout = null;
}


<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->

    <link rel="stylesheet" href="~/Content/customstyles.css">
</head>
<body style="position: relative;">
    @Html.Partial("NavBar")

    <ul class="tabs tabs-fixed-width   teal darken-1">
        <li class="tab disabled"><a  style="color:#cfd1cc">PERSONAL INFO</a></li>
        <li class="tab disabled"><a  style="color:#cfd1cc">EXPERIENCE</a></li>
        <li class="tab disabled"><a  style="color:#cfd1cc">EDUCATION</a></li>
        <li class="tab "><a  style="color:#fefffe" class="active hover focus">SKILLS</a></li>
        <li class="tab disabled"><a  style="color:#cfd1cc">SUMMARY</a></li>
        <li class="tab disabled"><a  style="color:#cfd1cc">REVIEW & DOWNLOAD</a></li>
    </ul>

    <!--page content-->
    <div class="container" style="margin-top:30px;">
        <div id="test1" class="col s12">
            <div class="row">
                
                    <div class="row">
                        <div class="col s12">
                            <span style="font-size:1.6em"></span><span style="font-size:1.6em;font-weight:bold;">SKILLS</span>
                            <p style="font-size:1.3em">
                                Highlight 6-8 of your top skills.

                            </p>
                        </div>
                    </div>
                    <form method="post" action="/Resume/Skill/@ViewBag.resumeid">
                        <div class="row">
                            <div class="input-field col s6">
                                @Html.AntiForgeryToken()
                                <input id="resumeid" type="hidden" name="resumeid" value="@ViewBag.resumeid">
                                <input id="a" name="a" type="text" class="validate">
                                <label for="a">Skill</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="la">
                                    <option value="" disabled selected>Select your skill level</option>
                                    <option value="Novice">Novice</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Skillful">Skillful</option>
                                    <option value="Experienced">Experienced</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <label>Level</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="b" name="b" type="text" class="validate">
                                <label for="b">Skill</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="lb">
                                    <option value="" disabled selected>Select your skill level</option>
                                    <option value="Novice">Novice</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Skillful">Skillful</option>
                                    <option value="Experienced">Experienced</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <label>Level</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="c" name="c" type="text" class="validate">
                                <label for="c">Skill</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="lc">
                                    <option value="" disabled selected>Select your skill level</option>
                                    <option value="Novice">Novice</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Skillful">Skillful</option>
                                    <option value="Experienced">Experienced</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <label>Level</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="d" name="d" type="text" class="validate">
                                <label for="d">Skill</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="ld">
                                    <option value="" disabled selected>Select your skill level</option>
                                    <option value="Novice">Novice</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Skillful">Skillful</option>
                                    <option value="Experienced">Experienced</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <label>Level</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="e" name="e" type="text" class="validate">
                                <label for="e">Skill</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="le">
                                    <option value="" disabled selected>Select your skill level</option>
                                    <option value="Novice">Novice</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Skillful">Skillful</option>
                                    <option value="Experienced">Experienced</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <label>Level</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="f" name="f" type="text" class="validate">
                                <label for="f">Skill</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="lf">
                                    <option value="" disabled selected>Select your skill level</option>
                                    <option value="Novice">Novice</option>
                                    <option value="Beginner">Beginner</option>
                                    <option value="Skillful">Skillful</option>
                                    <option value="Experienced">Experienced</option>
                                    <option value="Expert">Expert</option>
                                </select>
                                <label>Level</label>
                            </div>
                        </div>


                        <div class="row">



                            <div class="col s4 ">

                                <a class="waves-effect waves-light btn-large">BACK</a>
                            </div>

                            <div class="col s4 offset-s4 right-align">

                                <button type="submit" class="waves-effect waves-light btn-large" >SAVE & NEXT</button>
                            </div>
                        </div>
                    </form>

            </div>

        </div>
    </div>
    <!-- end of page content-->
    <div class="" style="margin-top: 30px;font-size: 1.6em;">
        <div class="container">
            <div class="row">
                <div class="col " style="color:black;">

                </div>
            </div>
        </div>

    </div>

    <div class="" style="margin-top:30px;">
        <footer class="page-footer teal darken-1" style="position: absolute;bottom: 0;left:0;right:0;">
            <div class="container ">
                <div class="row teal darken-1">
                    <div class="footer-copyright teal darken-1">
                        <div class="container teal darken-1" style="color:#ffff">
                            © QuickResume 2019
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

    //var instance = M.Tabs.init(el, options);

    // Or with jQuery

    $(document).ready(function () {
        $('.tabs').tabs();
        $('.datepicker').datepicker();
        $(".dropdown-trigger").dropdown();
        $('select').formSelect();
    });
</script>
</html>




